@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

/* ANIMACIONES */
  @keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }
  .animate-fade-in { animation: fadeIn 0.5s ease-out forwards; }
  .reveal-text { display: inline-block; animation: fadeIn 0.8s ease-out forwards; }

:root {
  --bg-dark: #161616;
  --bg-light: #fae8b6;
  --c-teal: #365f6b;
  --c-red: #521519;
  --c-yellow: #e3a643;
  --c-tan: #c4a366;
  --c-footer: #bfa065;
  --text-gold: #e3a643;
  --text-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  background-color: var(--bg-dark);
  overflow-y: auto;}

body::-webkit-scrollbar {
  display: none;
}

